.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #c98b8b;
  border-radius: 5px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}

.delete-button:hover {
  color: darkred;
}

.list-content {
  flex: 1;
}
